includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    bootstrapFiles:
        - tests/_phpstan_bootstrap.php

    level: max

    paths:
        - config
        - src
        - tests/acceptance
        - tests/functional
        - tests/unit

    tmpDir: %currentWorkingDirectory%/runtime

    yii2:
        config_path: tests/support/phpstan-config.php

    # Enable strict advanced checks
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
