---
name: build

permissions:
  contents: read

on:
  pull_request: &ignore-paths
    paths-ignore:
      - ".bowerrc"
      - ".editorconfig"
      - ".git-blame-ignore-revs"
      - ".gitattributes"
      - ".github/CONTRIBUTING.md"
      - ".github/FUNDING.yml"
      - ".github/ISSUE_TEMPLATE.md"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".github/SECURITY.md"
      - ".gitignore"
      - "docker-compose.yml"
      - "LICENSE.md"
      - "README.md"
      - "requirements.php"
      - "Vagrantfile"

  push: *ignore-paths

jobs:
  codeception:
    uses: yiisoft/yii2-actions/.github/workflows/codeception.yml@master
    with:
      codeception-command: vendor/bin/codecept run --env php-builtin --coverage-xml
      extensions: dom, json, gd, imagick
