---
name: static analysis

permissions:
  contents: read
  pull-requests: write

on:
  pull_request: &ignore-paths
    paths-ignore:
      - ".appveyor.yml"
      - ".dockerignore"
      - ".editorconfig"
      - ".git-blame-ignore-revs"
      - ".gitattributes"
      - ".github/CONTRIBUTING.md"
      - ".github/FUNDING.yml"
      - ".github/ISSUE_TEMPLATE.md"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".github/SECURITY.md"
      - ".gitignore"
      - ".gitlab-ci.yml"
      - "code-of-conduct.md"
      - "docs/**"
      - "eslint.config.js"
      - "LICENSE.md"
      - "README.md"
      - "ROADMAP.md"

  push: *ignore-paths

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  phpstan:
    name: PHP ${{ matrix.php }}-PHPStan

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        php: [7.4, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5]

    steps:
      - name: Monitor action permissions.
        if: runner.os != 'Windows'
        uses: GitHubSecurityLab/actions-permissions/monitor@v1

      - name: Checkout.
        uses: actions/checkout@v6

      - name: Setup PHP with Composer.
        uses: yiisoft/yii2/.github/actions/php-setup@master
        with:
          extensions: dom, json, gd, imagick          
          ini-values: date.timezone='UTC'
          php-version: ${{ matrix.php }}          

      - name: Static analysis.
        run: vendor/bin/phpstan analyse --error-format=checkstyle | cs2pr